# Firebase Admin SDK
FIREBASE_PROJECT_ID=netistrackgh
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\your private key here\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL= your client email here

# Your Firebase Web API Key (for REST API authentication)
FIREBASE_WEB_API_KEY= 

# JWT Settings
JWT_REFRESH_EXPIRY=10d

# Server Configuration
PORT=3000
NODE_ENV=development

# CORS
ALLOWED_ORIGIN=http://127.0.0.1:5500,http://localhost:8000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=9000
RATE_LIMIT_MAX_REQUESTS=100